/*HOME PAGE STYLES*/
* {
  color: white;
}
body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(./images/raphael-nogueira-svbDI1Pq30s-unsplash.jpg);
  background-position: center center;
  background-size: cover;
}
.tagLine {
  display: flex;
}
.line {
  display: flex;
  flex-grow: 1;
  height: 1px;
  width: 100%;
  align-self: center;
  margin: 0 20px;
  background-color: grey;
}
.row {
  text-align: center;
  margin: 0% 8% 4% 8%;
}
.bodyContent {
  margin: 4%;
}
.infoButton {
  width: 120px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: rgb(179, 179, 179);
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}
.concentration {
  width: 20%;
  height: 350px;
  display: inline-table;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 1% 2.25%;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
.actSci {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/venus.jpeg);
}
.bio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/mars.jpeg);
}
.bioChem {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/neptune.jpeg);
}
.chem {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/uranus.jpeg);
}
.compSci {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/earth.jpeg);
}
.econ {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/mercury.jpeg);
}
.physics {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/saturn.webp);
}
.minor {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(./images/moon.jpeg);
}
.concentration h4 {
  color: #fff;
  text-shadow: 2px 2px #000;
}
.concentration:hover {
  transform: translateY(-10px);
}
.addInfo {
  color: #04203e;
}
