/*HOME PAGE STYLES*/
.homeBackground {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./images/campusBackground.jpeg);
  background-position: center;
  background-size: cover;
}
.row {
  display: flex;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 40%;
  text-align: center;
}
.col2 {
  flex-basis: 60%;
  align-items: center;
}
.col h1,
p {
  color: white;
}
.bodyContent {
  margin: 3%;
}
button {
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}
.concentration {
  width: 200px;
  height: 230px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
.actSci {
  background-image: url(./images/venus.jpeg);
}
.bio {
  background-image: url(./images/mars.jpeg);
}
.bioChem {
  background-image: url(./images/mercury.jpeg);
}
.chem {
  background-image: url(./images/uranus.jpeg);
}
.compSci {
  background-image: url(./images/earth.jpeg);
}
.econ {
  background-image: url(./images/neptune.jpeg);
}
.concentration h4 {
  color: #fff;
  text-shadow: 2px 2px #000;
}
.concentration:hover {
  transform: translateY(-10px);
}
