/*HOME PAGE STYLES*/
* {
  color: white;
}
.homeBackground {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
    url(./images/backgroundImg.jpg);
  background-position: center;
  background-size: cover;
}
/* .row {
  display: flex;
  height: 88%;
  align-items: center;
}
.col {
  flex-basis: 40%;
  text-align: center;
}
.col2 {
  flex-basis: 60%;
  align-items: center;
}
.col h1,
p {
  color: white;
} */
.row {
  text-align: center;
  padding: 40px;
  text-shadow: 2px 2px rgb(77, 75, 75);
}
.bodyContent {
  margin: 3%;
}
.infoButton {
  width: 180px;
  color: #000;
  font-size: 12px;
  padding: 12px 0;
  background: #fff;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}
.concentration {
  width: 270px;
  height: 350px;
  display: inline-table;
  border-radius: 10px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 10px 15px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
}
.actSci {
  background-image: url(./images/venus.jpeg);
}
.bio {
  background-image: url(./images/mars.jpeg);
}
.bioChem {
  background-image: url(./images/mercury.jpeg);
}
.chem {
  background-image: url(./images/uranus.jpeg);
}
.compSci {
  background-image: url(./images/earth.jpeg);
}
.econ {
  background-image: url(./images/neptune.jpeg);
}
.physics {
  background-image: url(./images/saturn.webp);
}
.contact {
  background-image: url(./images/campusBackground.jpeg);
}
.concentration h4 {
  color: #fff;
  text-shadow: 2px 2px #000;
}
.concentration:hover {
  transform: translateY(-10px);
}
.navBar {
  background-color: #093055;
  padding: 5px;
  margin: 0;
  border: 20px;
}
.addInfo {
  color: #04203e;
}
